{% extends "base.html" %}
{% load i18n sekizai_tags static %}

{% block dukop_title %}{% trans "Create event" %}{% endblock %}

{% block content %}

  {% if forms_had_errors %}
  <div class="message message__error">
    {% trans "There were errors. Please check below." %}
  </div>
  {% endif %}
  <h1 class="card__title">{% trans "Create event" %}</h1>
  <p>
    <strong>{% trans "Creating your first event?" %}</strong>
    {% trans "Read about using the site, creating events and more in " %} <a href="{% url "news:about" %}#guidelines">{% trans "About Duk Op" %}</a>.
  </p>
  <p>
      {% trans "After creating the event, it's possible to edit it further. You will have to finally publish the event when it's ready." %}
  </p>

  <form action="" method="POST" class="dukop-table-form event__form" enctype="multipart/form-data">
  {% csrf_token %}

  {% include "calendar/includes/event_form.html" %}


  <hr>
  <table>
    <tr>
      <th><br></th>
      <td>
          <button type="submit" class="button-big">{% trans "Create event and go to next step" %} »</button>
      </td>
    </tr>
  </table>

</form>


{% addtoblock "js" %}
    <script type="text/javascript" src="{% url "calendar:javascript-catalog" %}"></script>
    <script type="text/javascript" src="{% static 'calendar/js/create_event.js' %}"></script>
{% endaddtoblock %}

{% endblock %}
