{% extends "base.html" %}
{% load i18n sekizai_tags static %}
{% load calendar_tags sorl_thumbnail %}
{% load l10n %}

{% block dukop_title %}{% trans "Event list" %}{% endblock %}


{% block content %}

  <h1>
    {% trans "Your events" %}
  </h1>

  <p>
    {% trans "Below is the list of events that you have created or which a group you're in has created." %}
  </p>

  <table class="table">

    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Image" %}</th>
        <th>{% trans "Dates" %}</th>
        <th>{% trans "Venue" %}</th>
        <th>{% trans "Published" %}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for event in events %}
      <tr>
        <td><a href="{% url 'calendar:event_detail' pk=event.id %}">{{ event.name }}</a></td>
        <td>
        {% with event.images.first as feature_image %}
            {% if feature_image.image %}
                {% thumbnail feature_image.image "80x80" crop="fill" as event_thumbnail %}
                    <img src="{{ event_thumbnail.url }}" alt="{{ event.name }}">
                {% endthumbnail %}
            {% endif %}
        {% endwith %}
        </td>
        <td>
          {% with event.times.all as event_times %}
            {% if event_times %}
                {% if event_times.0.start %}
                  {{ event_times.0.start|dukop_interval:event_times.0.end }}
                  {% if event_times.count > 1 %}
                  + {{ event_times.count }} {% trans "more" %}
                  {% endif %}
                {% else %}
                  -
                {% endif %}
            {% else %}
                {% trans "No scheduled times" %}
            {% endif %}
          {% endwith %}
        </td>
        <td>{{ event.venue }}</td>
        <td class="center">
            {% if event.published %}
                <div class="icon icon__check-circle"></div>
            {% else %}
                <div class="icon icon__circle"></div>
            {% endif %}

        </td>
        <td class="right nowrap">
            {% include "calendar/includes/event_owner_buttons.html" %}
        </td>
      </tr>
      {% empty %}

      <tr>
        <td colspan="100"><em>{% trans "No events found" %}</em></td>
      </tr>

      {% endfor %}
    </tbody>

  <tbody>
  </table>

{% endblock %}
