{% extends "base.html" %}

{% load i18n sekizai_tags static %}
{% load calendar_tags sorl_thumbnail %}
{% load l10n %}

{% block title %}{{ event.name }} - {{ event.venue_name }}{% endblock %}
{% block og_title %}{{ event.name }} - {{ event.venue_name }}{% endblock %}
{% block twitter_title %}{{ event.name }} - {{ event.venue_name }}{% endblock %}

{% block description %}{{ event|event_description:100|striptags }}{% endblock %}
{% block twitter_description %}{{ event|event_description:100|striptags }}{% endblock %}
{% block og_description %}{{ event|event_description:100|striptags }}{% endblock %}

{% block google_image %}{% with event.images.first as feature_image %}{% if feature_image %}{% thumbnail feature_image.image "1200x627" crop="center" as event_thumbnail %}{{ event_thumbnail.url }}{% endthumbnail %}{% else %}{{ block.super }}{% endif %}{% endwith %}{% endblock %}
{% block twitter_image %}{% with event.images.first as feature_image %}{% if feature_image %}{% thumbnail feature_image.image "1200x628" crop="center" as event_thumbnail %}{{ event_thumbnail.url }}{% endthumbnail %}{% else %}{{ block.super }}{% endif %}{% endwith %}{% endblock %}
{% block og_image %}{% with event.images.first as feature_image %}{% if feature_image %}{% thumbnail feature_image.image "1200x630" crop="center" as event_thumbnail %}{{ event_thumbnail.url }}{% endthumbnail %}{% else %}{{ block.super }}{% endif %}{% endwith %}{% endblock %}

{% block og_image_width %}{% with event.images.first as feature_image %}{% if feature_image %}1200{% else %}{{ block.super }}{% endif %}{% endwith %}{% endblock %}
{% block og_image_height %}{% with event.images.first as feature_image %}{% if feature_image %}630{% else %}{{ block.super }}{% endif %}{% endwith %}{% endblock %}


{% block dukop_title %}{{ event.name }} - {{ event.venue_name }}{% endblock %}

{% block content_wrapper %}

{% if event|event_can_edit:request.user and not event.published %}

<div class="card card--static">

  <h1 class="no-margin-top">{% trans "Finalize your event" %}</h1>

  <p>{% trans "View your event below as it appears to everyone else. Once you think it's ready, you should publish it and share it with your audience." %}</p>

  <ul>
    {% if not event.images.all %}
    <li>{% trans "<strong>Your event doesn't have any images.</strong> You can skip this, but we really recommend adding an illustration to improve appearance on Dup Op and other sites where it's shared." %}</li>
    {% endif %}
    <li>{% trans "<strong>Your event isn't published.</strong> As long as it isn't published, other users cannot see it." %}</li>
  </ul>

{% if not event.images.all %}
<p>
  <a href="{% url "calendar:event_images_update" pk=event.pk %}" class="button">
    {% trans "Add images" %}<br><span class="icon icon__image"></span>
  </a>
</p>
{% endif %}

<p>
  <a href="{% url "calendar:event_publish" pk=event.pk %}" class="button">
    {% trans "Publish this event" %}<br><span class="icon icon__eye"></span>
  </a>
</p>

</div>

{% endif %}

<div class="card card--static">
    {% include "calendar/includes/event_card.html" with show_user_panel=True %}
</div>
{% endblock %}
