{% extends "base.html" %}
{% load i18n sekizai_tags static %}
{% load calendar_tags sorl_thumbnail %}
{% load l10n %}

{% block dukop_title %}{% trans "Event list" %}{% endblock %}

{% block content_wrapper %}

<div class="page-container">

  <h1 class="title">
    {% trans "All events from" %}
    <strong>{{ pivot_date }}</strong>
    {% trans "to" %}
    <strong>{{ pivot_date_end }}</strong>
  </h1>

  {% include "calendar/includes/list_pagination.html" %}

  <div class="table">

  {% for event_time in event_times %}

    <div class="table__day {% if event_time.is_cancelled or event_time.event.is_cancelled %}table__day__cancelled{% endif %}">
      {% ifchanged event_time.start.date %}
      <div class="table__header">
        {{ event_time.start.date|dukop_date }}
      </div>
      {% endifchanged %}

      <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}" class="table__event">
        <div class="table__time">
          {{ event_time.start|time:"H:i" }}
        </div>
        <div class="table__title">
          {{ event_time.event.name }}
        </div>
        <div class="table__place">
          {{ event_time.event.venue_name }}
        </div>
      </a>
    </div>

  {% empty %}

  <p><em>{% trans "Nothing to see in this period." %}</em></p>

  {% endfor %}


  </div>

  {% include "calendar/includes/list_pagination.html" %}

</div>

{% endblock %}
