{% extends "base.html" %}
{% load i18n sekizai_tags static %}

{% block dukop_title %}{% trans "Update event" %} - {{ event.name }}{% endblock %}

{% block content %}

{% if forms_had_errors %}
<div class="message message__error">
  {% trans "There were errors. Please check below." %}
</div>
{% endif %}
<h1 class="card__title">{% trans "Update:" %} {{ event.name }}</h1>

<p>
  {% trans "On this page, you can update everything about your event." %}
  {% trans "If you need to cancel the entire event, navigate to " %}
  <a href="{% url "calendar:event_cancel" pk=event.pk %}">{% trans "Cancel Event" %}</a>.
</p>

<form action="" method="POST" class="dukop-table-form event__form" enctype="multipart/form-data">
{% csrf_token %}

{% include "calendar/includes/event_form.html" %}

<hr>
<table>
  <tr>
    <th><br></th>
    <td>
        <button type="submit" class="button-big">{% trans "Save changes" %}</button>
    </td>
  </tr>
</table>

</form>


{% addtoblock "js" %}
    <script type="text/javascript" src="{% url "calendar:javascript-catalog" %}"></script>
    <script type="text/javascript" src="{% static 'calendar/js/form_processing.js' %}"></script>
{% endaddtoblock %}

{% endblock %}
