.badge-counter {
    border-radius: 10px;
    font-weight: bold;
    background-color: #3C8E8C;
    color: #fff;
    padding: 5px 10px;
}

.badge-error {
    border-radius: 10px;
    font-weight: bold;
    background-color: #c33;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}
