

.dukop-table-form {
  table
  {
      width: 100%;
  }
  th {
    vertical-align: top;
    text-align: right;
    padding: 18px 10px;
    opacity: .5;
    width: 20%;
  }
  td {
    padding: 5px 0;
  }
  input#id_name {
    max-width: none;
  }
  input {
      width: auto;
      max-width: none;
      display: inline-block;
  }
  select {
      width: auto;
      max-width: none;
      display: inline-block;
  }
  input[type=date] {
      width: auto;
  }
  tr.event_form_datetime {
      white-space: nowrap;
      input, select {
          margin-right: 10px;
      }
  }
  .event-recurrence-times-description {
      height: 100px;
  }

    .spheres {
        ul {list-style: none; padding: 0}
    }

    .formset-add-remove-buttons
    {
        margin: 20px 0;
    }
}
