{% extends "base.html" %}
{% load calendar_tags sorl_thumbnail sekizai_tags static %}
{% load i18n %}
{% load l10n %}

{% block dukop_title %}{% trans "Start" %}{% endblock %}

{% block content_wrapper %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'calendar/js/calendar.js' %}"></script>
{% endaddtoblock %}

{% get_event_times from_date=future max_count=20 has_image=True days=14 sphere=SPHERE hide_recurring=True or_featured=True as event_times %}

<div class="page-container">
  <h1 class="title title-center no-margin-top">
    {% for sphere in SPHERES %}
    <a href="{% url "calendar:sphere_change" pk=sphere.pk %}" class="sphere-link{% if sphere.pk == SPHERE.id %} sphere-link-chosen{% endif %}">{{ sphere.name }}</a>
    {% endfor %}

  </h1>
</div>

{% for event_time in event_times %}
<div class="card" data-hash="event-{{ event_time.event.pk }}" id="event-{{ event_time.event.pk }}">
  {% include "calendar/includes/event_card.html" with event_time=event_time event=event_time.event event_hide_share=True event_truncate=100 %}
  <a class="card__toggle js-toggle-card" href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}"></a>
</div>

{% empty %}

<div class="page-container">
    <p><em>{% trans "No events found in this period." %}</em></p>
</div>

{% endfor %}


<div class="page-container">
  {% url 'calendar:index' as url_calendar_index %}
  <h1 class="title" id="recurring">
    {% trans "<strong>Recurring</strong> events" %}
  </h1>
</div>

<div class="page-container">

<div class="table">

{% for recurrence in event_recurrences %}

    <div class="table__day">
      {% ifchanged recurrence.event__pk %}
      <div class="table__header">
        {{ recurrence.event__name }}
      </div>
      {% endifchanged %}

      <a href="{% url "calendar:event_detail" pk=recurrence.event__pk %}" class="table__event">
        <div class="table__time">
          {% trans "Next:" %} {{ recurrence.next|date }}
        </div>
        <div class="table__title">
          {{ recurrence|recurrence_interval }}, {{ recurrence.next|date:"l" }} {{ recurrence.next|time:"H:i" }}
        </div>
        <div class="table__place">
          {{ recurrence.event__venue_name }}
        </div>
      </a>

    </div>

{% empty %}
    <p><em>{% trans "No recurring events found in this period." %}</em></p>

{% endfor %}

</div>
</div>


{% get_event_times from_date=today days=1 max_count=30 sphere=SPHERE as todays_events %}

<div class="page-container">
  <h1 class="title title--space">{% trans "Happening" %} <strong>{% trans "today" %}</strong></h1>
  <div class="timeline">

  {% for event_time in todays_events %}
    {% event_timeline_properties event_time as timeline %}
        <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}">
          <div class="timeline__event timeline__event--color{% cycle "1" "2" "3" %} timeline__event--right" data-text="{{ event_time.event.name }}" title="{{ event_time.event.name }}" 
            style="word-wrap: break-word; width: {{ timeline.width_pct|unlocalize }}%; margin-left: {{ timeline.x_start_pct|unlocalize }}%">
          
          </div>
        </a>
  {% empty %}
    <div class="timeline__event timeline__event--right" data-text="{% trans "Nothing planned today, this is your chance to do something! Gather your people!" %}">
    </div>
  {% endfor %}

    <div class="timeline__scale">
      <div class="timeline__min">
        08:00
      </div>
      <div class="timeline__max">
        24:00
      </div>
      <div class="timeline__now" id="timeline__now"></div>
    </div>

  </div>

</div>


<div class="page-container">
  <h1 class="title title--space">{% trans "Active locations" %}</h1>

  <ul class="tag-list">
    {% for location in locations %}
    <li class="{% if location.event_count > 5 %}tag-large{% elif event_count > 1 %}tag-medium{% else %}tag-small{% endif %}"><a href="{% url "calendar:location_detail" pk=location.pk %}">{{ location.name }}</a></li>
    {% endfor %}
  </ul>

</div>

{% get_event_times days=30 sphere=SPHERE as event_times %}

<div class="page-container">

  <h1 class="title title--space">{% trans "All events next 30 days" %}</h1>

  <div class="table">

  {% for event_time in event_times %}

    <div class="table__day {% if event_time.is_cancelled or event_time.event.is_cancelled %}table__day__cancelled{% endif %}">
      {% ifchanged event_time.start.date %}
      <div class="table__header">
        {{ event_time.start.date|dukop_date }}
      </div>
      {% endifchanged %}

      <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}" class="table__event">
        <div class="table__time">
          {{ event_time.start|time:"H:i" }}
        </div>
        <div class="table__title">
          {{ event_time.event.name }}
        </div>
        <div class="table__place">
          {{ event_time.event.venue_name }}
        </div>
      </a>
    </div>
  {% endfor %}

  </div>

  <ul class="pagination">
    <li><a href="{% url "calendar:event_list" sphere_id=SPHERE.pk %}">{% trans "Browse more events..." %}</a></li>
  </ul>

</div>


<div class="overlay" id="js-overlay"></div>

{% endblock %}
