{% extends "base.html" %}
{% load i18n %}
{% load dukop_utils %}

{% block dukop_title %}{% trans "Final login step" %}{% endblock %}

{% block content %}

<h1>{% trans "Final login step" %}</h1>

{% if DUKOP_TOKEN_ALLOW_REDIRECT %}
<p>
    {% blocktrans trimmed %}
        If your email is registered, you will have received a one-time login by
        email now. Click the link sent to {{ email_token }} and enter the token,
        using the link that is found in the email.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        Remember to check your spam folder 🗑️
    {% endblocktrans %}
</p>
<hr>
{% endif %}

<form method="post" autocomplete="off">
  {% csrf_token %}

  {% dukop_form form %}

  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
          <input type="submit" value="{% trans "Log in" %}">
      </div>
  </div>

  <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'users:login' %}">{% trans "Get a new 1-time code" %}</a></p>

{% endblock %}
