{% extends "base.html" %}
{% load i18n %}
{% load dukop_utils %}

{% block dukop_title %}{% trans "Final login step" %}{% endblock %}

{% block content %}

<h1>{% trans "Final login step" %}</h1>

{% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
    {% endif %}
{% endif %}

<form method="post" autocomplete="off">
  {% csrf_token %}

  {% dukop_form form %}

  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
          <input type="submit" value="{% trans "Log in" %}">
      </div>
  </div>

  <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'users:login' %}">{% trans "Get a new token" %}</a></p>

{% endblock %}
