{% extends "base.html" %}

{% load i18n sekizai_tags static %}
{% load calendar_tags sorl_thumbnail %}
{% load l10n %}

{% block dukop_title %}{{ location.name }}{% endblock %}

{% block content %}

    <h1>{{ location.name }}</h1>

    {% if location|location_can_edit:user %}
      <p><a href="{% url "calendar:location_detail" pk=location.id %}">{% trans "Edit" %}</a></p>
    {% endif %}

    {{ location.description|default:"No description written"|linebreaks }}


    <h2>{% trans "Links" %}</h2>

    {% for link in links %}
    <p>
      <a href="{{ link.link }}" target="_blank">{{ link.link|url_alias }}</a>
    </p>
    {% empty %}
    <p>
      <em>{% trans "No links" %}</em>
    </p>
    {% endfor %}

    <h2>{% trans "Location" %}</h2>
    <p>
    {% if location.venue_name and location.street %}
    <strong>{{ location.venue_name }}</strong><br>
    {{ location.street }}<br>
    {{ location.zip_code }} {{ location.city }}
    {% else %}
    <em>{% trans "Address missing" %}</em>
    {% endif %}
    </p>

<h2>{% trans "Upcoming events" %}</h2>

<div class="table">

{% get_event_times from_date=future location=location as future_events %}

{% for event_time in future_events %}

    <div class="table__day">
      {% ifchanged event_time.start.date %}
      <div class="table__header">
        {{ event_time.start.date|dukop_date }}
      </div>
      {% endifchanged %}

      <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}" class="table__event">
        <div class="table__time">
          {{ event_time.start|time:"H:i" }}
        </div>
        <div class="table__title">
          {{ event_time.event.name }}
        </div>
        <div class="table__place">
          {{ event_time.event.venue_name }}
        </div>
      </a>
    </div>

  {% empty %}

  <p><em>{% trans "Nothing to see in this period." %}</em></p>

{% endfor %}

</div>

{% endblock %}
